<a href="https://colab.research.google.com/github/alireza-rad/IBM/blob/main/Project_Interview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [72]:
charges_data = pd.read_csv('/content/charges_data.csv')
personel_data = pd.read_csv('/content/personal_data.csv')
plan_data = pd.read_csv('/content/plan_data.csv')

In [74]:
charges_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   tenure            7032 non-null   int64
 2   contract          7032 non-null   object
 3   paperlessBilling  7032 non-null   object
 4   paymentMethod     7032 non-null   object
 5   monthlyCharges    6577 non-null   float64
 6   totalCharges      6577 non-null   float64
 7   churn             7032 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 439.6+ KB

In [76]:
charges_data.head()

,customerID,tenure,contract,paperlessBilling,paymentMethod,monthlyCharges,totalCharges,churn
0,7590-VHVEG,1,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [77]:
col = charges_data['monthlyCharges'].dropna()

In [78]:
col=np.sort(col)

In [79]:
col

array([ 18.25,  18.4 ,  18.55, ..., 118.6 , 118.65, 118.75])

In [80]:
len(col)

6577

In [81]:
round(len(col)*0.1)

658

In [82]:
col[657:5919]

array([ 20.05,  20.05,  20.05, ..., 102.1 , 102.15, 102.25])

In [83]:
average = col[657:5919].mean()

In [84]:
average

64.8447168377043

In [85]:
average=round(average)

In [86]:
average

65

In [87]:
charges_data['monthlyCharges'].fillna(average, inplace=True)

In [88]:
charges_data['monthlyCharges']

0        29.85
1        56.95
2        53.85
3        42.30
4        70.70
         ...
7027     84.80
7028     65.00
7029     29.60
7030     74.40
7031    105.65
Name: monthlyCharges, Length: 7032, dtype: float64

In [89]:
charges_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   tenure            7032 non-null   int64
 2   contract          7032 non-null   object
 3   paperlessBilling  7032 non-null   object
 4   paymentMethod     7032 non-null   object
 5   monthlyCharges    7032 non-null   float64
 6   totalCharges      6577 non-null   float64
 7   churn             7032 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 439.6+ KB

In [90]:
charges_data['totalCharges'].fillna(charges_data['monthlyCharges']*charges_data['tenure'], inplace=True)

In [91]:
charges_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   tenure            7032 non-null   int64
 2   contract          7032 non-null   object
 3   paperlessBilling  7032 non-null   object
 4   paymentMethod     7032 non-null   object
 5   monthlyCharges    7032 non-null   float64
 6   totalCharges      7032 non-null   float64
 7   churn             7032 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 439.6+ KB

In [92]:
bins = [0, 24, 48, 60, np.inf]
labels = ['group1', 'group2', 'group3', 'group4']
charges_data['tenureBinned'] = pd.cut(charges_data['tenure'], bins=bins, labels=labels)

In [93]:
charges_data.sample(10)

,customerID,tenure,contract,paperlessBilling,paymentMethod,monthlyCharges,totalCharges,churn,tenureBinned
582,1423-BMPBQ,1,Month-to-month,Yes,Mailed check,65.00,65.00,No,group1
3747,1816-FLZDK,1,Month-to-month,No,Mailed check,65.00,65.00,No,group1
6991,9586-JGQKH,64,Two year,Yes,Bank transfer (automatic),105.40,6794.75,No,group4
5666,4983-CCWMC,3,Month-to-month,Yes,Mailed check,69.60,207.40,No,group1
6646,1705-GUHPV,63,Two year,No,Mailed check,24.20,1618.20,No,group4
1008,6614-YOLAC,71,Two year,No,Mailed check,58.65,4145.25,No,group4
6120,4132-POCZS,52,Month-to-month,Yes,Electronic check,39.90,2020.90,No,group3
3252,5482-VXSXJ,22,Month-to-month,Yes,Mailed check,93.20,2157.30,No,group1
1019,8242-SOQUO,5,Month-to-month,Yes,Electronic check,84.70,392.50,No,group1
5110,7621-VPNET,42,Month-to-month,Yes,Credit card (automatic),85.90,3729.75,No,group2

In [94]:
charges_data['churn'] == 'Yes'

0       False
1       False
2        True
3       False
4        True
        ...
7027    False
7028    False
7029    False
7030     True
7031    False
Name: churn, Length: 7032, dtype: bool

In [95]:
sum(charges_data['churn'] == 'Yes')

1869

In [96]:
len(charges_data['churn'])

7032

In [97]:
sum(charges_data['churn'] == 'Yes')/len(charges_data['churn'])*100

26.578498293515356

In [98]:
int(sum(charges_data['churn'] == 'Yes')/len(charges_data['churn'])*100)

26

In [99]:
churn_pct = int((charges_data['churn'].value_counts(normalize=True)['Yes'] * 100))

In [100]:
charges_data['churn'].value_counts(normalize=True)

No     0.734215
Yes    0.265785
Name: churn, dtype: float64

In [101]:
charges_data['churn'].value_counts(normalize=True)['Yes']

0.26578498293515357

In [102]:
charges_personal_data = charges_data.merge(personel_data, on='customerID', how='inner')

In [103]:
data_merged = charges_personal_data.merge(plan_data, on='customerID', how='left')

In [104]:
charges_personal_data.head()

,customerID,tenure,contract,paperlessBilling,paymentMethod,monthlyCharges,totalCharges,churn,tenureBinned,gender,partner,dependents,age
0,5575-GNVDE,34,One year,No,Mailed check,56.95,1889.50,No,group2,Male,No,No,41
1,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,group1,Male,No,No,58
2,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,1840.75,No,group2,Male,No,No,61
3,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,group1,Female,No,No,66
4,9305-CDSKC,8,Month-to-month,Yes,Electronic check,99.65,820.50,Yes,group1,Female,No,No,87

In [106]:
data_merged.sample(10)

,customerID,tenure,contract,paperlessBilling,paymentMethod,monthlyCharges,totalCharges,churn,tenureBinned,gender,...,age,phoneService,multipleLines,internetService,onlineSecurity,onlineBackup,deviceProtection,techSupport,streamingTV,streamingMovies
4839,3256-EZDBI,51,Month-to-month,Yes,Credit card (automatic),29.45,1459.35,No,group3,Male,...,73,No,No phone service,DSL,No,Yes,No,No,No,No
3212,2582-FFFZR,22,Month-to-month,Yes,Electronic check,50.60,1073.30,No,group1,Female,...,58,No,No phone service,DSL,No,No,Yes,No,Yes,Yes
2408,2703-AMTUL,36,One year,No,Mailed check,53.65,1939.35,No,group2,Male,...,46,Yes,No,DSL,Yes,Yes,No,No,No,No
780,6445-TNRXS,68,Two year,Yes,Bank transfer (automatic),114.70,7849.85,No,group4,Male,...,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006,5781-BKHOP,72,Two year,No,Bank transfer (automatic),100.65,7334.05,No,group4,Female,...,76,Yes,Yes,Fiber optic,Yes,Yes,Yes,No,Yes,No
4097,7856-GANIL,45,One year,Yes,Bank transfer (automatic),98.70,4525.80,No,group2,Male,...,86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2055,2495-INZWQ,4,Month-to-month,Yes,Electronic check,44.55,174.30,Yes,group1,Male,...,23,No,No phone service,DSL,No,No,No,No,Yes,Yes
3279,7663-YJHSN,72,Two year,Yes,Bank transfer (automatic),103.95,7556.90,No,group4,Female,...,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
836,9763-PDTKK,4,Month-to-month,Yes,Bank transfer (automatic),94.40,387.20,Yes,group1,Female,...,72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4001,6082-GLJIX,18,Month-to-month,No,Mailed check,19.25,331.35,No,group1,Male,...,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pct_age_above_60 = int((data_merged['age'].gt(60).mean() * 100).round())

In [107]:
data_merged['age']

0       41
1       58
2       61
3       66
4       87
        ..
5271    24
5272    33
5273    46
5274    45
5275    36
Name: age, Length: 5276, dtype: int64

In [109]:
data_merged['age']>60

0       False
1       False
2        True
3        True
4        True
        ...
5271    False
5272    False
5273    False
5274    False
5275    False
Name: age, Length: 5276, dtype: bool

In [111]:
data_merged[data_merged['age']>60]

,customerID,tenure,contract,paperlessBilling,paymentMethod,monthlyCharges,totalCharges,churn,tenureBinned,gender,...,age,phoneService,multipleLines,internetService,onlineSecurity,onlineBackup,deviceProtection,techSupport,streamingTV,streamingMovies
2,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,1840.75,No,group2,Male,...,61,No,No phone service,DSL,Yes,No,Yes,Yes,No,No
3,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,group1,Female,...,66,Yes,No,Fiber optic,No,No,No,No,No,No
4,9305-CDSKC,8,Month-to-month,Yes,Electronic check,99.65,820.50,Yes,group1,Female,...,87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,8191-XWSZG,52,One year,No,Mailed check,20.65,1022.95,No,group3,Female,...,64,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
20,1680-VDCWW,12,One year,No,Bank transfer (automatic),19.80,202.25,No,group1,Male,...,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5264,1035-IPQPU,63,Month-to-month,Yes,Electronic check,103.50,6479.40,No,group4,Female,...,62,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes
5265,7398-LXGYX,44,Month-to-month,Yes,Credit card (automatic),84.80,3626.35,No,group2,Male,...,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5266,2823-LKABH,18,Month-to-month,Yes,Bank transfer (automatic),95.05,1679.40,No,group1,Female,...,61,Yes,Yes,Fiber optic,No,No,Yes,Yes,No,Yes
5267,9281-CEDRU,68,Two year,No,Bank transfer (automatic),64.10,4326.25,No,group4,Female,...,71,Yes,No,DSL,No,Yes,No,Yes,Yes,No
5268,0871-OPBXW,2,Month-to-month,Yes,Mailed check,20.05,39.25,No,group1,Female,...,84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
data_merged[data_merged['age']>60].count()

customerID          2194
tenure              2194
contract            2194
paperlessBilling    2194
paymentMethod       2194
monthlyCharges      2194
totalCharges        2194
churn               2194
tenureBinned        2194
gender              2194
partner             2194
dependents          2194
age                 2194
phoneService        1472
multipleLines       1472
internetService     1472
onlineSecurity      1472
onlineBackup        1472
deviceProtection    1472
techSupport         1472
streamingTV         1472
streamingMovies     1472
dtype: int64

In [113]:
data_merged[data_merged['age']>60]['age'].count()

2194

In [115]:
data_merged[data_merged['age']>60]['age'].count()/data_merged['age'].count()*100

41.58453373768006

In [116]:
round(data_merged[data_merged['age']>60]['age'].count()/data_merged['age'].count()*100)

42

In [118]:
internet_service_counts = data_merged['internetService'].value_counts().to_dict()

In [117]:
data_merged['internetService'].value_counts()

Fiber optic    1577
DSL            1197
No              763
Name: internetService, dtype: int64

In [119]:
internet_service_counts

{'Fiber optic': 1577, 'DSL': 1197, 'No': 763}